{{#if wyrozniony}}
<div class="featured-band">
  <div class="container container--press">
    <article class="press-item press-item--featured">
      <a class="press-item__link" href="{{ wyrozniony.url }}">
        <div class="press-item__body">
          <p class="press-item__meta">
            <span class="press-item__kategoria">{{ wyrozniony.kategoriaNazwa }}</span>
            <time datetime="{{ wyrozniony.data }}">{{ wyrozniony.dataPl }}</time>
          </p>
          <h1 class="press-item__title">{{ wyrozniony.tytul }}</h1>
          <p class="press-item__lead">{{ wyrozniony.lead }}</p>
          <span class="press-item__more" aria-hidden="true">Czytaj więcej →</span>
        </div>
        <div class="press-item__media">
          <img src="{{ wyrozniony.grafikaUrl }}" alt="" loading="eager" fetchpriority="high" class="press-item__img">
        </div>
      </a>
    </article>
  </div>
</div>
{{/if}}

<section class="section" aria-labelledby="wczesniejsze">
  <div class="container container--press">
    <header class="section-header">
      <h2 id="wczesniejsze" class="section-header__heading">Wcześniejsze</h2>
      <a class="section-header__link" href="/aktualnosci/">Wszystkie aktualności</a>
    </header>
    {{#each pozostale}}{{> press-item }}{{/each}}
  </div>
</section>

{{> contact-block }}
