<div class="share">
  <h2 class="share__heading">Udostępnij</h2>
  <ul class="share__list" role="list">
    <li><a class="share__link" href="https://www.linkedin.com/sharing/share-offsite/?url={{ urlEnc }}" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    <li><a class="share__link" href="https://x.com/intent/tweet?url={{ urlEnc }}&text={{ tytulEnc }}" target="_blank" rel="noopener noreferrer">X</a></li>
    <li><a class="share__link" href="https://www.facebook.com/sharer/sharer.php?u={{ urlEnc }}" target="_blank" rel="noopener noreferrer">Facebook</a></li>
    <li><button class="share__link share__copy" type="button" data-url="{{ urlPelny }}">Kopiuj link</button></li>
  </ul>
</div>
